{
  "presets": [
    [
      "@babel/env",
      {
        "targets": "last 10 Chrome versions"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
