{
  "presets": [
    [
      "@babel/preset-env",
       {
         "debug": false,
         "targets": {
           "node": "6.10"
         }
       }
    ]
  ],
  "plugins": [
    "babel-plugin-inline-import",
    [
      "transform-runtime",
      "@babel/plugin-transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
